<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{event.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img *ngIf="event.image" src="/assets/images/{{ event.image }}" alt="" />
    <ion-card-header>
      <ion-card-subtitle>{{ event.speaker }}</ion-card-subtitle>
      <ion-card-title>{{ event.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        {{ event.description }}
      </p>
      <br />
      <!-- <ion-button expand="block">
        <ion-icon slot="start" name="star"></ion-icon>
        Adicionar aos Favoritos
      </ion-button> -->
    </ion-card-content>
  </ion-card>
</ion-content>
